body {
    font-family: 'Roboto', sans-serif;
}
.navbar {
    margin-bottom: 50px;
    background-color: transparent;
}
.carousel-inner img {
    width: 50%;
}
.presentation {
    padding: 50px;
    color: #fff;
}

.icon-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px; 
    height: 50px; 
    background-color: #00BFFF; 
}

.card .card-body{
    background-color: #00bfff;
}

.card-img-top {
    height: 200px;
    object-fit: cover; 
    background-color: #00bfff;
}

footer{
    background-color: #00BFFF;
    color: white;
    padding: 20px;
}

.social-icons a {
    color:#f1f1f1;
    margin-left: 10px;
}

.social-icons svg {
    width: 24px;
    height: 24px;
}

section{
    background-color: #000;
    color: white;
}